<!DOCTYPE html>
<html>
<head>
<title>New Relic Webhooks Demo</title>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="padding-top: 50px;">
<div class="container">
  <%= yield %>
</div>
</body>
</html>
